@model IEnumerable<RusterShop.EF.Product>

@{
    ViewBag.Title = "Index";
}

<h1>Products</h1>

<div style="display: flex">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            @*<img class="card-img-top" src="..." alt="Card image cap">*@
            <div class="card-body">
                <h2 class="card-title">@item.ProductName</h2>
                <p class="card-text"></p>
                <a href="#" class="btn btn-primary">Add To Cart</a>
            </div> 
        </div>
    }
</div>

