@model IEnumerable<RusterShop.EF.Product>

@{
    ViewBag.Title = "Index";
}

<h1>Products</h1>

<div style="display: flex; flex-wrap: wrap;">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem; padding: 10px">
            <div class="card-body">
                <h2 class="card-title">@item.ProductName</h2>
                <p class="card-text">@item.Category.CategoryName</p>
                <p>Price : @item.Price</p>
                <a href="/Cart/AddToCart/@item.ProductID" class="btn btn-primary">Add To Cart</a>
            </div> 
        </div>
    }
</div>


